/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */
html, body {
  font-family: NanitoSans, sans-serif;
  color: #303239;
  background: #F0F5FB;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1180px;
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

.button {
display: inline-flex;
padding: 11px 27px;
justify-content: center;
align-items: center;
border-radius: 50px;
background: linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%), #FFF;
cursor: pointer;
transition: .3s;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px 0px rgba(26, 11, 115, 0.40);
}

.button1 {
  display: inline-flex;
  padding: 15px 31px 15px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #FFF;
  color: #18154B;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  transition: .3s;
}

.button1:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 30px 0px rgba(255, 255, 255, 0.40);
}

.title {
  color: #FFF;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.subtitle {
  color: #FFF;
  font-style: normal;
  line-height: normal;
}

.heading {
  color: #18154B;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

.main__offers {
margin-top: 40px;
}

.main__categories{
  margin-top: 80px;
}

.main__advantages {
  margin-top: 80px;
}

.main__carts {
  margin-top: 80px;
}

.main__company {
  margin-top: 80px;
}

.main__application {
  margin-top: 80px;
}

.main__contact {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* ============================== HEADER TOP ============================== */
/* ============================== HEADER TOP ============================== */

.header__top {
  width: 100%;
  height: 46px;
  background-color: #18154B;
}

.header__top-inner {
display: flex;
justify-content: space-between;
}

.header__contact {
display: flex;
}

.header__contact-link {
  padding-top: 15px;
  margin-right: 44px;
  color: #F0F5FB;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
}

.header__contact-link:hover {
  transform: scale(1.1);
}

.header__contact-link:last-child {
  margin-right: 0;
}

.header__contact-icon {
  margin-right: 10px;
}

.contact__item-link {
  padding-top: 10px;
  margin-left: 18px;
  transition: .3s;
}

.contact__item-link:hover {
  transform: scale(1.1);
}

.contact__item-link:first-child {
  margin-left: 0;
}

/* ============================== HEADER BOTTOM ============================== */
/* ============================== HEADER BOTTOM ============================== */

.header__bottom {
  height: 70px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
}

.header__bottom-inner {
  display: flex;
}

.header__logo {
  background: linear-gradient(to right,#0D748B, #1A0B73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 800;
  margin-right: 58px;
  width: 100;
  padding-top: 22px;
}

.header__nav-list {
  display: flex;
  padding-top: 24px;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link {
  color: #303239;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 16px;
}

.header__nav-link:hover {
  opacity: 0.5;
}

.header__btn-box {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.header__btn {
  color: #FFF;
  font-size: 13px;
  font-weight: 700;
  margin-left: 47px;
}

.header__icons {
  padding-top: 15px;
  margin-left: 60px;
}


.header__icons-list {
  display: flex;
}

.header__icons-item {
  margin-left: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background:#F0F5FB;
  position: relative;
}

.icon-count {
position: absolute;
top: -6px;
right: -6px;
background-color: #18154B;
width: 18px;
height: 18px;
flex-shrink: 0;
color: white;
border-radius: 50%;
}

.icon-count {
  color: #FFF;
font-size: 13px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
}

/* ============================== MAIN__OFFERS ============================== */
/* ============================== MAIN__OFFERS ============================== */

.offers__inner {
  display: flex;
}

.offers__slider {
  width: 780px;
  height: 440px;
  border-radius: 10px;
  background: url(../images/offers/fon.svg) no-repeat, url(../images/offers/ellipse.svg) no-repeat, linear-gradient(74deg, #0D748B -10.13%, #1A0B73 75.49%);
  background-position: left center, right center;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
  display: flex; 
  position: relative;
}

.slider__content {
  padding-left: 57px;
  padding-top: 80px;
  padding-right: 70px;
}

.slider__heading {
  padding-bottom: 30px;
}

.heading__title {
  max-width: 341px;
  font-size: 38px;
  font-weight: 800;
  padding-bottom: 20px;
}
.heading__subtitle {
  font-size: 18px;
  font-weight: 600;
}

.slider__image {
padding: 95px 0px;
}

.slider__plagins {
  display: flex;
  position: absolute;
  bottom: 30px;
  right: 30px;
  position: absolute;

}
.slider__plagins-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #38B0C1;
  margin-right: 10px;
}

.slider__plagins-item {
  width: 10px;
  height: 10px;
  background-color: rgba(56, 176, 193, 0.40);
  border-radius: 50%;
  margin-right: 10px;
}

.slider__plagins-item:last-child{
  margin-right: 0;
}

.offers__discount {
  width: 380px;
  height: 440px;
  flex-shrink: 0;
  border-radius: 10px;
  background: url(../images/offers/illumup.svg) no-repeat, url(../images/offers/illumdown.svg) no-repeat, linear-gradient(0deg, #1A0B73 0%, #1A0B73 100%), radial-gradient(171.82% 119.39% at -6.32% -2.5%, #42E8E0 0%, #40DDDA 0%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #261E71 54.25%, #24156C 65.94%, #24126A 82.26%);
  background-position: left top, right bottom;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
  margin-left: 20px;
}

.discount__content {
  margin-left: 40px;
  margin-top: 40px;
}

.head__box {
  display: flex;
  margin-bottom: 15px;
}

.head__title {
  max-width: 231px;
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.head__subtitle {
  max-width: 138px;
  margin-left: 20px;
  padding-top: 16px;
}

.head__percent {
  color: #FFF;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.discount__info {
  display: flex;
}

.discount__image {
  margin-right: 9px;
}

.discount__btn-box {
  padding-top: 170px;
}

.discount__btn {
  color: #FFF;
  font-weight: 700;
  display: flex;
  transition: all.3s;
  cursor: pointer;
}

.discount__btn::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/offers/arrow.svg")0 2px / 100% no-repeat;
  margin-left: 10px;
}

/* ============================== MAIN__CATEGORIES ============================== */
/* ============================== MAIN__CATEGORIES ============================== */

.categories__heading {
  margin-bottom: 40px;
}
.categories__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 20px;
}
.categories__item {
  width: 380px;
  height: 170px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
  background: url(../images/categories/ellipse-blue.svg) no-repeat;
  display: flex;
  
}
.categories__item-img {
  margin: 20px 20px 20px 35px;
}
.categories__item-content {
  margin: 30px 0;
}
.categories__item-text {
  height: 70px;
  margin-bottom: 18px;
  color:#303239;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.categories__item-btn {
  color: #18154B;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  cursor: pointer; 
}

.categories__item-btn::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 10px;
  background: url("../images/categories/arrowblue.svg")0 0px / 100% no-repeat;
  margin-left: 10px;
}

/* ============================== MAIN__ADVENTAGES ============================== */
/* ============================== MAIN__ADVENTAGES ============================== */

.adventages__inner {
  display: flex;
  width: 1180px;
  height: 374px;
  border-radius: 10px;
  background: url(../images/adventages/background.svg) no-repeat, url(../images/adventages/big-ellipse.svg) no-repeat, radial-gradient(130.91% 98.19% at -8.58% -1.44%, #42E8E0 0%, #40DDDA 1.57%, #3AAEC0 9.21%, #3484A9 17.3%, #2F6195 25.73%, #2B4486 34.58%, #282E79 44%, #180564 82.26%);
  background-position:  center, right bottom;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
}
.adventages__image-box {
  margin: 29px 107px 15px 55px;
  background: url(../images/adventages/fans.svg) no-repeat;
}

.adventages__heading {
  width: 341px;
  font-size: 36px;
  font-weight: 800;
}

.adventages__content-list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, auto);
  row-gap: 40px;
  column-gap: 64px;
  margin: 50px 98px 56px 0px;
}

.adventages__content-elipse {
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  background-color: rgba(52, 110, 164, 0.20);
  box-shadow: 0px 4px 40px rgba(0, 6, 84, 0.90);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 10px;
}

.adventages__content-text {
  font-size: 16px;
  font-weight: 600;
}

/* ============================== MAIN__CARTS ============================== */
/* ============================== MAIN__CARTS ============================== */

.carts__heading {
  margin-bottom: 40px;
}

.carts__slider-list {
  display: flex;
}

.carts__slider-item {
  width: 220px;
  height: 360px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
  margin-right: 20px;
}

.carts__slider-item:last-child {
  margin-right: 0;
}

.carts__slider-head {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0px 15px;
}
.slider__head-plagin {
  display: inline-flex;
  height: 22px;
  padding: 3px 10px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #F0F5FB;
  color: #18154B;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.24px;
}
.slider__head-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.slider__head-icon:hover {
  background-image: url(../images/carts/heart-blue.svg);
}
.carts__slider-img {
  padding: 0 30px;
  margin-bottom: 10px;
}
.carts__slider-text {
  padding-left: 20px;
  margin-bottom: 8px;
}
.slider__text-title {
  color: #303239;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 6px;
}

.slider__text-box {
  display: flex;
  align-items: center;
}

.slider__text-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #38B0C1;
  margin-right: 8px;
}

.sleder__text-subtitle {
  color: #9B9B9B;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.carts__slider-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 0 20px;
}

.slider__price-text {
  color: #303239;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 8px;
}

.slider__price-desc {
  color: #9B9B9B;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: line-through;
  margin-right: 21px;
}

.slider__price-icon {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #F0F5FB;
  cursor: pointer;
}

.carts__slider-btn {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 20px 30px 20px;
  display: flex;
}

.carts__plagins {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.carts__plagins-active {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #38B0C1;
  margin-right: 10px;
}

.carts__plagins-default {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(56, 176, 193, 0.40);
  margin-right: 10px;
}

.carts__plagins-default:last-child {
  margin-right: 0;
}

/* ============================== MAIN__ADVENTAGES ============================== */
/* ============================== MAIN__ADVENTAGES ============================== */

.company__inner {
}
.company__article {
  display: flex;
  margin-bottom: 80px;
}

.article__title {
  margin-bottom: 40px;
}

.article__text {
  width: 670px;
  display: flex;
  color: #303239;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%;
  overflow: hidden;
}

.article__image-box {
  width: 460px;
  height: 250px;
  border-radius: 10px;
  background: url(../images/company/computers.svg) no-repeat;
  background-position: center;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
  margin-left: 75px;
}

.article__image-box:last-child {
  margin-right: 0;
}

.description__list {
  display: flex;
}

.description__item {
  margin-right: 70px;
}

.description__icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FFF;
  filter: drop-shadow(0px 4px 20px rgba(0, 7, 94, 0.10));
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.description__icon-box {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F0F5FB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description__text {
  color: #303239;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; 
}

/* ============================== MAIN__APLICATION ============================== */
/* ============================== MAIN__APLICATION ============================== */

.application__inner {
  height: 330px;
  background: url(../images/aplication/bg-image.svg) no-repeat;
  background-position: center;
  border-radius: 10px;
  padding-top: 50px;
  padding-left: 60px;
}

.application__title1 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 5px;
}

.application__title2 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

.application__subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.application__form-row {
  display: flex;
  margin-bottom: 20px;
}

.application__form-label {
  margin-right: 20px;
}

.application__form-input {
  display: flex;
  width: 240px;
  padding: 16px 131px 15px 20px;
  align-items: center;
  border-radius: 50px;
  border: 1px solid rgba(243, 243, 243, 0.70);
  background: rgba(255, 255, 255, 0.30);
  color: #FFF;
}

.application__form-input:focus {
  border: 1px solid #F3F3F3;
  background: rgba(255, 255, 255, 0.50);
}

.application__form-input::placeholder {
  color: #F3F3F3;
}

.aplication__btn {
  width: 240px;
}

.aplication__checkbox-label {
  display: flex;
  align-items: center;
  color: #F3F3F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}
.aplication__form-checkbox {
  position: relative;
  width: 14px;
  height: 14px;
  flex: 0 0 auto;
  margin: 0px 10px 0px 0px;

}
.aplication__form-default {
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;

}
.aplication__form-custom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #fff;
  border-radius: 3px;
  cursor: pointer;
}

.aplication__form-default:checked + .aplication__form-custom {
  background: url("../images/aplication/checkbox.svg") 50% 50% no-repeat;
}

.aplicantion__link {
  color: #F3F3F3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  padding-left: 3px;
}

/* ============================== MAIN__CONTACT ============================== */
/* ============================== MAIN__CONTACT ============================== */

.contact__inner {
  display: flex;
  justify-content: space-between;
}
.contact__info {
}
.contact__heading {
  margin-bottom: 40px;
}

.contact__content {
  margin-bottom: 40px;
}

.contact__content-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact__content-item:last-child {
  align-items: start;
}

.content__item-icon {
  margin-right: 10px;
  padding: 5px 0px;
}

.contact__content-text {
  color: #303239;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 145%; 
}

.contact__icons-item {
  margin-right: 20px;
}

.contact__icons-item:last-child {
  margin-right: 0;
}

.contact__image {
  width: 680px;
  height: 365px;
  border-radius: 10px;
  background: url(<path-to-image>), lightgray 0px -23px / 100% 106.849% no-repeat;
  box-shadow: 0px 4px 20px 0px rgba(0, 7, 94, 0.10);
  background: url(../images/contact/map.svg) no-repeat;
  background-position: center;
}

/* ============================== FOOTER ============================== */
/* ============================== FOOTER ============================== */

.footer {
  width: 100%;
  height: 336px;
  background: #18154B;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 60px 0px;
}

.footer__col {
  display: flex;
  flex-direction: column;
}

.footer__col-logo {
font-size: 22px;
margin-bottom: 16px;
}

.footer__col-mark {
  color: #B8B8B8;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__col-title {
  color: #B8B8B8;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.32px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer__col-item {
  color: #FFF;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 8px;
}

.footer__col-button {
  margin-bottom: 118px;
}

.footer__col-subtitle {
  color: #B8B8B8;
  text-align: right;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}